@import 'tailwindcss';
@plugin "tailwindcss-noise";

@theme {
  /* COLORS */
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-700: oklch(44% 0.011 73.639);
  --color-base-900: oklch(14% 0.004 49.25);

  /* FONTS */
  --font-sans-scale: from-font;
  --font-mono-scale: from-font;

  /* TEXT SIZES (base) */
  --text-216: 13.5rem;
  --text-128: 8rem;
  --text-96: 6rem;
  --text-64: 4rem;
  --text-48: 3rem;
  --text-40: 2.5rem;
  --text-32: 2rem;
  --text-24: 1.5rem;
  --text-16: 1rem;
  --text-12: 0.75rem;

  /* BREAKPOINTS */
  --breakpoint-xsm: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
}

:where(.font-sans) {
  font-size-adjust: var(--font-sans-scale);
}

:where(.font-mono) {
  font-size-adjust: var(--font-mono-scale);
}
