---
import type { PageBlocksMap } from '../../lib/models'
import Container from '../elements/Container.astro'
import Text from '../elements/Text.astro'
import Link from '../elements/Link.astro'
import SymbolImage from '../elements/SymbolImage.astro'

const block = Astro.props.block as PageBlocksMap['contacts_block']
---

<Container variant={'md'}>
  <div class="flex lg:flex-row flex-col gap-8 text-base-900">
    {
      block.items.map((item) => (
        <div class="border-2 border-base-900 p-4 flex flex-col gap-4 w-full">
          <div class="flex justify-between">
            <Text variant={'lg'}>{item.title}</Text>
            <SymbolImage class="bg-base-900" />
          </div>
          <div class="h-px w-full border border-base-900" />
          <div>
            {item.href ? (
              <Link href={item.href} variant={'inline'}>
                {item.contact}
              </Link>
            ) : (
              <Text variant={'sm'}>{item.contact}</Text>
            )}
          </div>
        </div>
      ))
    }
  </div>
</Container>
