---
import { type PageBlocksMap, type DesignsPageModel } from '../../lib/models'
import Container from '../elements/Container.astro'
import Heading from '../elements/Heading.astro'
import DesignTile from '../elements/DesignTile.astro'
import Pagination from '../elements/Pagination.astro'

interface Props {
  block: PageBlocksMap['section_designs_block']
  page: DesignsPageModel
}

const { block, page } = Astro.props
const designs = page.getItems()
const prevUrl = page.getPrevUrl()
const nextUrl = page.getNextUrl()
---

<Heading tagName={block.size ?? 'h1'} tagSize={block.size ?? 'h1'} class="text-center">{block.heading}</Heading>
<Container variant={'lg'}>
  <Container class="grid lg:grid-cols-2 grid-cols-1 gap-24">
    {designs.map((design) => <DesignTile design={design} />)}
  </Container>
  <div class="flex flex-row gap-2">
    <Pagination prev={prevUrl} />
    <Pagination next={nextUrl} />
  </div>
</Container>
