---
// components
import Container from "../../elements/Container.astro"
import ContactItem from "./ContactItem.astro"
---
<Container variant={'md'}>
    <div class="flex lg:flex-row flex-col gap-8 text-base-900">
        <ContactItem title="Email" contact="peterjones@email.com" />
        <ContactItem title="Phone" contact="(555) 123-4567" />
    </div>
</Container>