---
// components
import Container from "../../elements/Container.astro"
import ContactItem from "./ContactItem.astro"
import type { ContactDetailsItem } from "../../../lib/content-types";

const { items } = Astro.props as { items: ContactDetailsItem[] };
---
<Container variant={'md'}>
    <div class="flex lg:flex-row flex-col gap-8 text-base-900">
        {items.map((item) => (
            <ContactItem title={item.title} contact={item.contact} />
        ))}
    </div>
</Container>
