---
//assets
import { Image } from "astro:assets";
import symbol from "../../../assets/ui/symbolWhite.svg";

// components
import Text from "../../elements/Text.astro";

// props
const { title, contact } = Astro.props;
---

<div class="border-2 border-base-900 p-4 flex flex-col gap-4 w-full">
    <div class="flex justify-between">
        <Text variant={'lg'}>{title}</Text>
        <Image src={symbol} alt="UI Symbol" />
    </div>
    <div class="h-px w-full border border-base-900"></div>
    <div>
        <Text variant={'sm'}>{contact}</Text>
    </div>
</div>