---
// components
import Heading from "../../elements/Heading.astro";
import Container from "../../elements/Container.astro";
import Text from "../../elements/Text.astro";

interface IntroContent {
    heading: string;
    lead: string;
    bodyOne: string;
    bodyTwo: string;
}
const { content } = Astro.props as { content: IntroContent };
---

<Container variant={'xl'} class="text-center text-base-900 flex flex-col items-center">
    <Heading tagName="h1" tagSize="h1">{content.heading}</Heading>
    <div class="max-w-3xl flex flex-col gap-4">
        <Text variant={'xl'}>{content.lead}</Text>
        <Text variant={'sm'}>{content.bodyOne}</Text>
        <Text variant={'sm'}>{content.bodyTwo}</Text>
    </div>
</Container>
