---
import SymbolImage from './SymbolImage.astro'
import DecoratorImage from './DecoratorImage.astro'
---

<div class="flex justify-between">
  <SymbolImage class="bg-base-900" />
  <DecoratorImage class="bg-base-900" />
</div>
