---
import SymbolImage from './SymbolImage.astro'
import DecoratorImage from './DecoratorImage.astro'
---

<div class="flex justify-between">
  <SymbolImage variant={'light'} />
  <DecoratorImage />
</div>
