---
//assets
import barcode from "../../assets/ui/barcode.svg";
import symbol from "../../assets/ui/symbolWhite.svg";
import { Image } from "astro:assets";
---

<div class="flex justify-between">
    <Image src={symbol} alt="UI Symbol" />
    <Image src={barcode} alt="UI Bar Code" />
</div> 