---
import DecoratorImage from './DecoratorImage.astro'
import OptimizedImage from './OptimizedImage.astro'
import type { ImageMetadata } from 'astro'

interface Props {
  src: ImageMetadata | undefined
  alt: string | undefined
}

const { src, alt } = Astro.props
---

{
  src && (
    <div class="flex flex-col items-end gap-2 w-full h-full">
      <DecoratorImage class="bg-base-900" />
      <div class="p-4 border-2 border-base-900 w-full h-full">
        <OptimizedImage src={src} alt={alt} loading="eager" class="w-full h-full object-cover grayscale-75" />
      </div>
    </div>
  )
}
