---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    href: string;
    variant: "inline" | "button" | "nav";
    newWindow?: boolean;
}

const { href, variant, newWindow = false, class: className, ...rest} = Astro.props;

// common styling for all link variants
const baseStyle = "text-base-900"

// styling for each variant
const variantStyle = {
    inline: "font-mono font-semibold hover:text-base-700 underline underline-offset-3",
    button: "font-grunge px-6 py-2 border-2 border-base-900 hover:bg-base-900 hover:text-base-100 text-24 uppercase tracking-wide",
    nav: "font-grunge hover:text-base-700 text-24 uppercase underline underline-offset-4 decoration-2 tracking-wide"
}
---

<a href={href} 
    class:list={[baseStyle, variantStyle[variant], className]}
    target={newWindow ? "_blank" : undefined}
    rel={newWindow ? "noopener noreferrer" : undefined}
    {...rest}>
    <slot />
</a>
