---
import Container from './Container.astro'
import Heading from './Heading.astro'
import ContainerBottom from './ContainerBottom.astro'

interface Props {
  heading: string | undefined
  size: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6' | undefined
}

const { heading, size = 'h2' } = Astro.props
---

<Container variant={'md'}>
  <Heading tagName={size} tagSize={size} class="text-center">{heading}</Heading>
  <div class="flex flex-col gap-4">
    <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
      <slot />
    </Container>
    <ContainerBottom />
  </div>
</Container>
