---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
    variant?: "xsm" | "sm" | "md" | "lg" | "xl"
}

const { variant = "sm", class: className, ...rest } = Astro.props;

// common styling for all text variants
const baseStyle = "";

// different font sizes and styling for each text variant
const variantStyle = {
    xsm: "text-12 font-mono",
    sm: "text-16/8 font-mono",
    md: "text-20 font-mono font-semibold uppercase text-base-700",
    lg: "text-32/8 font-grunge",
    xl: "text-40/10 font-grunge"
}
---

<p class:list={[baseStyle, variantStyle[variant], className]} {...rest}><slot /></p>